@import "tailwindcss";

:root {
  font-family: 'Kanit', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  /* margin: 0; */
  box-sizing: border-box;
}

body {
  margin: 0;
  box-sizing: border-box
  /* min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden; */
}

button {
  cursor: pointer;
  transition: all 0.3s ease;
}

button:focus,
button:focus-visible {
  outline: 2px solid rgba(236, 72, 153, 0.5);
  outline-offset: 2px;
}
